- @contents.each do |content|
  .content
    .content-user
      -if content.user.image.present?
        = link_to user_path(content.user_id), class: "content-user__image" do
          = image_tag "#{content.user.image}", class: "content-user__image-btn"
      - else
        = link_to content.user.nickname[0], user_path(content.user_id), class: "content-user__image-btn"
      = link_to content.user.nickname, user_path(content.user_id), class: "content-user__name"
      .content-user__time
        = content.created_at.strftime('%Y/%m/%d')
    .content-title
      = link_to content.title, content, method: :get, class: "content-title__text"
    .content-music
      = audio_tag content.music, class: "content-music__box"
    .content-text
      = simple_format(content.message)
    = render 'contents/tag_list', tag_list: content.tag_list