= form_with model: @content do |f|
  .field
    = f.label :タイトル
    .field__title
      = f.text_field :title, class: "title-input"
  .field
    = f.label :音源
    .field__music
      = f.file_field :music, class: "music-input"
  .field
    = f.label :メッセージ
    .field__title
      = f.text_area :message, rows: "10", wrap: "hard", class: "message-input"
    .action
      = f.submit "#{@submit}", class: "action-submit"
