= form_with model: @content do |f|
  .field
    = f.label :タイトル, class: "field__text"
    %p.field__text-constraint 必須
    = f.text_field :title, placeholder:"タイトル", class: "field__input"
  .field
    = f.label :音源, class: "field__text"
    %p.field__text-constraint 必須
    = f.file_field :music, class: "field__music"
  .field
    = f.label :メッセージ, class: "field__text"
    = f.text_area :message, rows: "5", wrap: "hard", placeholder:"メッセージ", class: "field__input"
  = f.submit "#{@submit}", class: "action"
