
= form_with model: @content do |form|
  .form
    %h2 新規投稿
    .form-field
      = form.label :タイトル
      .form-field__title
        = form.text_field :title
    .form-field
      = form.label :音源
      = form.file_field :music
    .form-field
      = form.label :メッセージ
      .form-field__title
        = form.text_area :message, rows: "10", wrap: "hard"
    .form-action
      = form.submit class: "form-action-submit"