= render "layouts/header"
.wrapper
  = render "layouts/side"
  .main
    .content
      .content-user
        %a{href: user_path(@content.user_id), class: "content-user__image"}
          = image_tag "#{@content.user.image}", class: "content-user__image-btn"
        = link_to @content.user.nickname, user_path(@content.user_id), class: "content-user__name"
        .content-user__time
          = @content.created_at.strftime('%Y/%m/%d %H:%M')
      .content-title
        = @content.title
      .content-music
        = audio_tag @content.music, class: "content-music__box"
      .content-text
        = simple_format(@content.message)
      .content-menu
        - if user_signed_in?
          .content-menu__good
            = render 'likes/like', content: @content
          .content-menu__comment
            コメント
            = "(#{@comments.count})"
          = form_with(model: [@content, @comment], local: true, class: "comment-form") do |f|
            = f.text_area :text, placeholder: "コメントする", rows: "2", class: "comment-input"
            = f.submit "コメントする", class: "comment-submit"
        - else
          .content-menu__nil
            ※いいね、コメントをするにはログインまたはユーザー登録してください※
      .comment-list
        ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          .comment
            .comment-user
              = image_tag "#{comment.user.image}", class: "comment-user__image"
              .comment-user__name
                = link_to comment.user.nickname, user_path(comment.user_id), class: "comment-user__name"
                ：
              .comment-user__message
                = simple_format(comment.text)
            - if current_user == comment.user
              .comment-edit
                = link_to "削除", content_comment_path(@content, comment), method: :delete