= render "layouts/header"
.wrapper
  .side
    .side-form
      %input{name: "name", type: "text", class: "side-form__input"}
      %input{type: "submit", value: "検索", class: "side-form__submit"}
    .side-home
      = link_to "ホームへ", root_path, class: "side-home"
  .main
    .content
      .content-user
        .content-user__image
        .content-user__name
          = link_to @content.user.nickname, user_path(@content.user_id)
        .content-user__time
          = @content.created_at.strftime('%Y/%m/%d %H:%M')
      .content-title
        = @content.title
      .content-music
        = audio_tag @content.music, class: "content-music__box"
      .content-text
        = simple_format(@content.message)
      .content-menu
        - if user_signed_in?
          .content-menu__good
            いいね(2)
          .content-menu__comment
            コメント
            = "(#{@comments.count})"
          = form_with(model: [@content, @comment], local: true, class: "comment-form") do |f|
            = f.text_area :text, placeholder: "コメントする", rows: "2", class: "comment-input"
            = f.submit "コメントする", class: "comment-submit"
        - else
          .content-menu__nil
          .content-menu__nil
      .comment-list
        コメント一覧
      - if @comments
        - @comments.each do |comment|
          .comment
            .comment-user
              = link_to comment.user.nickname, user_path(comment.user_id)
              ：
            .comment-message
              = comment.text