= render "layouts/header"
.wrapper
  = render "layouts/side"
  .main
    .main-title
      = image_tag "八分音符_2.png", class: "main-title-image"
      %h1{class: "main-title__text"} 楽器一覧
      = image_tag "八分音符_2.png", class: "main-title-image"
    .content
      - @parts.each do |part|
        .part-link
          = link_to part.name, "#", class: "part-link"