= render "layouts/header"
.form
  %h1 変更
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .form-field
      = f.label :名前
      .form-field__title
        = f.text_field :nickname, autofocus: true, class: "title-input"
    .form-field
      = f.label :担当楽器
      .form-field__title
        = f.text_field :part, autofocus: true, class: "title-input"
    .form-field
      = f.label :自己紹介
      .form-field__title
        = f.text_area :message, rows: "10", wrap: "hard", class: "message-input"

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-action
      = f.submit "変更する", class: "form-action-submit"
