- if current_user != @user
  = render "layouts/header"
-else
  %header.header
    %a{href: root_path}
      = image_tag "MuLife 300×100.png", size: "300x100", class: "header-image"
      .header-user
        = link_to image_tag("投稿.png"), new_content_path, class: "header-user__btn"
        = link_to image_tag("ログアウト2.png"), destroy_user_session_path, method: :delete, class: "header-user__btn"
.wrapper
  = render "layouts/side"
  .main
    .user
      .user-box
        = image_tag "#{@user.image}", class: "user-box__image"
        .user-box__name
          = @user.nickname
        .user-box__part
          担当楽器：
          = @user.part.name
        .user-box__message
          %h4{class: "user-box__message-text"} 自己紹介
          = @user.message
      - if current_user == @user
        %a{href: edit_user_registration_path, class: "user-edit"}
          = image_tag "変更.png",class: "user-edit__btn"
    .user-contents
      = image_tag "八分音符_2.png", size: "48x48"
      %h2{class: "user-contents__text"} 投稿一覧
      = image_tag "八分音符_2.png", size: "48x48"
    - @contents.each do |content|
      .content
        .content-time
          = content.created_at.strftime('%Y/%m/%d %H:%M')
        .content-title
          = link_to content.title, content, method: :get, class: "content-title__text"
        .content-music
          = audio_tag content.music, class: "content-music__box"
        .content-text
          = simple_format(content.message)
        = render 'contents/tag_list', tag_list: content.tag_list
        .content-menu
          .content-menu__good
            いいね
            = "(#{content.likes.count})"
          .content-menu__comment
            コメント
            = "(#{content.comments.count})"
          - if current_user == @user
            = link_to "編集", edit_content_path(content.id), class: "content-menu__edit"
            = link_to "削除", "/contents/#{content.id}", method: :delete, class: "content-menu__destroy"
          - else
            .content-menu__null
            .content-menu__null
    .p-top__paginate
      = paginate(@contents)