= render "layouts/header"
.form
  %h2 ログイン
  = form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
    .field
      = f.label :メールアドレス
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "title-input"
    .field
      = f.label :パスワード
        = f.password_field :password, autocomplete: "current-password", class: "title-input"
    - if devise_mapping.rememberable?
      .remember
        = f.check_box :remember_me
        = f.label :ログイン状態を保存する
    = f.submit "ログイン", class: "action-submit"
