= render "layouts/header"
.form
  %h2 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-field
      = f.label :メールアドレス
      .form-field__title
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "title-input"
    .form-field
      = f.label :パスワード
      .form-field__title
        = f.password_field :password, autocomplete: "current-password", class: "title-input"
    - if devise_mapping.rememberable?
      .form-remember
        = f.check_box :remember_me
        = f.label :ログイン状態を保存する
    .form-action
      = f.submit "ログイン", class: "form-action-submit"
